*xterm*faceName:                xft:Envy Code R for Powerline:pixelsize=12.2
hardstatus alwayslastline: "%{= k}%{W}%-w[%n %t]%+w%-=%{W}%C %a "
autodetach: "on"

!xterm*lineSpace:                -3
!xterm.letterSpace:              -1
xterm.iso14755:                 false
xterm.iso14755_52:              false
xterm*geometry:                 65x17
xterm.scrollBar:                false
xterm*loginShell:               true
xterm.internalBorder:           35
! -----------------

xterm*termName: xterm-256color
*xterm*borderWidth: 0
xterm*locale: true
xterm*salveLines: 4096
xterm*faceSize: 9
xterm*saveLines: 4096
xterm*cursorBlink: True
xterm*loginshell: False

xterm*VT100.Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)

            

*foreground: #C7C7C7
*background: #151515
!black
*color0:     #393939
*color8:     #474747
!red
*color1:     #FF9F95
*color9:     #FF8D80
!green
*color2:     #E2FFC7
*color10:    #DBFFB3
!yellow
*color3:     #FFFFB9
*color11:    #FFBE64
!blue
*color4:     #A8CEEA
*color12:    #7EB6FF
!magenta
*color5:     #E2B5CC
*color13:    #E296FF
!cyan
*color6:     #C2EFFF
*color14:    #9CE9FF
!white
*color7:     #dddddd
*color15: #dddddd
